fastapi[standard]
langchain
langchain-text-splitters
langchain-postgres
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
pypdf
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
sqlalchemy
dotenv
unstructured
httpx
supabase