fastapi[standard]
langchain
langchain[community, google-genai]
langchain_postgres
langchain-text-splitters
langgraph
psycopg[binary,pool]
langchain-postgres
langchain-core
langchain-cohere
langgraph-checkpoint-postgres
sqlalchemy
boto3
dotenv